<br>
<br>
<br>
<br>
<br>
<ion-content class="has-header">
  <ion-title>Notificaciones</ion-title>
  <div >
    <ion-row class="wrapper">
      <ion-col size="2">
        <ion-avatar class="editado">

        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-row class="tweet-info">
          <ion-col size="12">
            <span class="name">Recomendaciones para ti</span>
            <span class="handle"></span>
            <span class="handle"></span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div ><ion-icon name="information-circle-outline"></ion-icon>Recuerda seguir a @juanvasquez tienes amigos en común.</div>
            <img class="preview-img" >
          </ion-col>
        </ion-row>
     
      </ion-col>
    </ion-row>
  </div>
  <!-- -->
  <div >
    <ion-row class="wrapper">
      <ion-col size="">
        <ion-avatar class="editado">
          <ion-img  src="https://images2-mega.cdn.mdstrm.com/mega/2022/09/23/136297_1_632e6f1a1f74c.jpg?d=900x500" ></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-row class="tweet-info">
          <ion-col size="12">
            <span class="name">Esteban Riquelme</span>
            <span class="handle">@elnackson</span>
            <span class="handle">. 20 sep.</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div >Respondiendo a @Flow_ascending y @celestevera</div>
            <img class="preview-img" >
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
              12
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear"  size="small">
              <ion-icon name="repeat-outline" slot="start"></ion-icon>
              54
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear"  size="small">
              <ion-icon name="heart-outline" slot="start"></ion-icon>
              9
            </ion-button>
          </ion-col>
          <!-- <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="share-outline" slot="start"></ion-icon>
            </ion-button>
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <!--Arturo Vidal-->
  <div >
    <ion-row class="wrapper">
      <ion-col size="3">
        <ion-avatar class="editado">
          <ion-img  src="https://strikers.futbol/__export/1652373251290/sites/strikers/img/2022/04/23/arturovidal-chile6-295830.jpg_157282023.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-row class="tweet-info">
          <ion-col size="12">
            <span class="name">Arturo Vidal</span>
            <span class="handle">@kingarturo23</span>
            <span class="handle">. 3h</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div >@arturovidal quien tu sigues acaba de subir un twitt</div>
            <img class="preview-img" >
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
              167
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear"  size="small">
              <ion-icon name="repeat-outline" slot="start"></ion-icon>
              94
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear"  size="small">
              <ion-icon name="heart-outline" slot="start"></ion-icon>
              145
            </ion-button>
          </ion-col>
          <!-- <ion-col>
            <ion-button fill="clear" color="medium" size="small">
              <ion-icon name="share-outline" slot="start"></ion-icon>
            </ion-button>
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

 

</ion-content>